body{
    margin-left:10%;
}
/*
Heading
*/
#title{
    font-size: 100px;
}

#grid{
   width:100%;
   display:flex;
   border:solid 5px gray;
}
.r1{
    display:flex;
    flex-wrap: no-wrap;
}
.cell{
    min-width: 200px;
    width:15%;
    height:100px;
    padding:10px;
    border: solid 1px orange;
}